/* basic clears */
html, body { margin: 0; height: 100%; font-family: 'IM Fell DW Pica SC', serif; color: #fff; }
body {	background:#000; }

/* logo */
#logo { margin: 10px auto; width: 500px; height: 30px; color: white; text-align: center; /*background: url(../images/header_logo.png) no-repeat;*/ }
#logo .right { float: right; padding-top: 7px;}
#header { position:absolute; top: 0; left: 0; z-index:10000; background:rgba(0,0,0,0.5); padding: 5px;}
#outer { position: relative; }

/* panels */
#screen { width: 845px; padding: 15px; color: #FFF; position: absolute; right: 0; top: 0; }
.panel { padding: 20px 10px 20px 20px; border: 5px solid #FFF; background: rgba(0,0,0,0.7); }
.poppanel { background: rgba(51,51,51,0.6); position: absolute; z-index: 100000; padding: 10px; transition: all 0.2s; opacity: 1}
.poppanel input.button { font-family: 'IM Fell DW Pica SC', serif;}
.panelcontrol { position: absolute; top: 5px; right: 5px; cursor: pointer; background: #666; padding: 0 4px;}
.poppanel.panelhidden { top: -200px; opacity: 0;}

.vitals { padding: 10px; }
.vitals.myinfo { background: #99BB68; }
.vitals.opponent { background: #E47C6D; }
#vitals_panel h3 { margin: 0; }

#hud { width: 1000px; margin: 0 auto; height: 70px; background: #36C; padding: 30px; display: none;}

/* centered panels */
#horizon {
/*background-color: #0ff;*/
text-align: center; position: absolute;top: 50%; left: 0px; width: 100%; height: 1px; overflow: visible; visibility: visible; display: block;
}
#horizon .centerpanel { background: rgba(51,51,51,0.6); position: absolute; margin-left: -330px;  width: 660px; height: 160px; top: -110px; left: 50%; box-shadow: 10px 10px 5px rgba(0,0,0,0.6); z-index: 10000}


h1, h2 { margin: 0; }
ul { padding: 0; margin: 0;}
li { list-style:none; display: inline-block; background: #039; padding: 20px; width: 350px; margin: 20px 20px 0 0; cursor: pointer; position: relative; border: 3px solid #039;}
li.chosen { background: #0A4; border: 3px solid #0FF; }
li:hover:not(.chosen) { background: #06F; border: 3px solid #0FF;}
li.disabled { cursor: default !important; }
.name { font-weight: bold; color: #0F0; font-size: 24px; display: block; margin: 0;}
.type { display: inline-block; margin-right: 15px; text-transform: uppercase; color: #FC0; font-weight: bold;}
.effect { display: inline-block; margin-right: 15px; }
.successRate { color: #FF9; font-weight: bold; float: right;}
.order { position: absolute; right: 0; top: 0; }

/* form elements */
input { font-family: 'IM Fell DW Pica SC', serif; }
input.dark { background: #333; color: #FFF;border: 1px solid #FFF; padding: 10px; font-size: 20px;text-transform: uppercase; text-align: center;}
input.dark.chat { font-family: courier, sans; text-transform: none; font-size: 14px; width: 300px; text-align: left}

/* buttons */
.button { cursor: pointer; background: rgb(211, 240, 2); padding: 10px; margin: 10px 0; color: #333; font-weight: bold; font-size: 20px; border: 4px outset; transition: all 0.2s }
.button:not(.disabled):hover { border: 4px outset; background: rgb(232, 252, 20); box-shadow: 0px 0px 10px #fff; }
.button.disabled { background: #555; color: #AAA; cursor: default; }
.button.bigcentered { display: inline-block; vertical-align: top; width: 200px; margin: 0 auto; padding: 10px 10px 2px; text-align: center; font-size: 52px; line-height: 32px; text-shadow: 2px 2px #DEDEDE; }
#join.button.bigcentered { margin: 20px auto; padding: 10px 10px 17px;}
#create.button.bigcentered { margin: 20px auto; padding: 15px 10px 12px;}


/* forms */
#createteam { text-align: right;}

.newest { display: none; }
.command { display: none; }

.stat { font-size: 41px;  font-weight: bold;}
.amount { display: inline-block; float: right; }
.hidden { display: none; }
.info-row { display: block; }

/* output */
#output, #welcome_output { font-size: 23px; }
#output_panel p { margin: 2px 0; }
#buttons { float: left; }
#info { float: right; width: 200px; font-size: 16px; color: white; }
#action_results { margin-top: 40px; }
.result_text { display: block; font-size: 40px; }
.character_name, .action_name { text-transform:uppercase; }
.action_name { color: #F8FEC7; }
.darken {	-webkit-filter: brightness(0.6); }

/* page backgrounds */
#page_bg { position: absolute; width: 100%; height: 100%; background: url(../images/bg_sea.jpg); background-size: cover; }

/* panel background */
#chooseship_panel { width: 64%; float: right;}
#chooseship_panel, #choosecharacters_panel { background: rgba(243,161,92,0.6); }
#chooseship_panel h1, #choosecharacters_panel h1 { text-align: center; font-size: 44px; text-transform: uppercase; text-shadow: 3px 3px #333; }
#choosegameinstance_panel { background: rgba(219,221,203,0.8); }
#myteam_panel { background: rgba(219,221,203,0.8); }

/* labels */
#active_entity_label { position: absolute; z-index: 1002031; text-shadow: 3px 3px #333; color: rgb(211, 240, 2); font-size: 80px; width: 700px; text-align: center;}
.textshadow { text-shadow: 3px 3px #333;}

/* ships */
#active_ship { position: absolute; z-index: 800;}
.ship { position: absolute; left: 10px; z-index:799;}
.ship_drowcruiser { background:url(../images/ship_drowcruiser_809x880.png) no-repeat; width: 809px; height: 880px; }
.ship_deadblimp	{ background:url(../images/ship_deadblimp_676x900.png) no-repeat; width: 676px; height: 900px; }
.ship_unknown { background: url(../images/lock.png) no-repeat; width: 256px; height: 256px;}

/* characters */
#active_character { position: absolute; z-index: 1000;}
.character { position: absolute; left: 10px; z-index:999;}
.character_shaman 		{ background:url(../images/character_shaman_608x900.png) no-repeat; width: 608px; height: 900px; }
.character_centipede 	{ background:url(../images/character_centipede_600x923.png) no-repeat; width: 600px; height: 923px; }
.character_skeleshark 	{ background:url(../images/character_skeleshark_717x900.png) no-repeat; width: 717px; height: 900px; }
.character_drowarcher 	{ background:url(../images/character_drowarcher_550x900.png) no-repeat; width: 550px; height: 900px; }
.character_tentacles 	{ background:url(../images/character_tentacles_752x900.png) no-repeat; width: 752px; height: 900px; }
.character_deadsoldier 	{ background:url(../images/character_deadsoldier_667x900.png) no-repeat; width: 667px; height: 900px; }
.character_unknown { background: url(../images/lock.png) no-repeat; width: 256px; height: 256px;}
.shadowfilter { -webkit-filter: drop-shadow(9px 9px 10px rgba(0,0,0,0.7)); /*filter: url(images/shadow.svg#drop-shadow); */}

.avatar { position: relative; overflow: hidden; height: 100px; width: 100px; border: 3px #fff outset }
.avatar_small { position: relative; overflow: hidden; height: 150px; width: 150px; background: none; }

.avatar_image { zoom: 0.4; position:absolute; top: -46px; left: -57px;}
.avatar_image.character_unknown, .avatar_image.ship_unknown { zoom: 0.7; top: 40px; left: 42px; }
.avatar_image.character_drowarcher { zoom: 0.6; top: 44px; }
.avatar_image.character_shaman { zoom: 0.55; top: -222px; left: -81px; }
.avatar_image.character_centipede { zoom: 0.52; top: -37px; left: -57px; }

/* icons */
#character_stats { position: absolute; top: 100px; width: 600px; height: 70px;}
.stat { width: 100px; display: inline-block; vertical-align: top; color: #D8D800; text-shadow: 2px 2px rgba(0,0,0,0.7);}
.icon { width: 48px; height: 48px; margin-right: 15px; display: inline-block;}
.icon.attack 	{ background: url(../images/icons.png) no-repeat; background-position: 0 0;}
.icon.defense 	{ background: url(../images/icons.png) no-repeat; background-position: -48px 0;}
.icon.courage 	{ background: url(../images/icons.png) no-repeat; background-position: -96px 0;}
.icon.dodge 	{ background: url(../images/icons.png) no-repeat; background-position: -144px 0;}
.icon.health 	{ background: url(../images/icons.png) no-repeat; background-position: -192px 0;}

/* chat */
.chatmessage { display: block;}
.chatmessage .playername { font-weight: bold;}
.chatmessage .player1 { color: #33FF22; }
.chatmessage .player2 { color: #CC3229; }

/* ships */
#boat_bg { -webkit-transition:-webkit-filter 0.4s ease-in-out; }
.boatbg_1 { position: absolute; left: 0; top: 0; background:url(../images/boat_bg1_608x1052.png) no-repeat; width: 608px; height: 1052px; z-index: -10;}
.boatbg_2 { position: absolute; left: 0; top: 0; background:url(../images/boat_bg2_472x1000.png) no-repeat; width: 472px; height: 1000px; z-index: -10; }

/* footer */
footer { padding-top: 40px; font-size: 22px; clear: both; margin: 0 auto; width: 640px; text-align: center; opacity: 0.7 }
footer a { color: yellow; }
